body {
  font-family: Arial, sans-serif;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #ffffff;
  margin: 0px;
  height: 100%;
  display: flex; 
  flex-direction: column; 
}

.top-bar {
  background-color: #3b3a2f;
  color: white;
  text-align: center;
  padding: 3px;
}

.contact-section {
  text-align: center;
  padding: 5px;
}

h2 {
  color: coral;
  font-family: "Times New Roman", sans-serif;
}

.view-us, .contact-us, .form-section{
  height: 450px;
}

.contact-container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.contact-container div {
  background-color: #ffffff;
  padding: 15px;
  width: 300px;
  margin: 10px;
}

input, textarea {
  width: 90%;
  margin: 5px 0;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
  background-color: #3b3a2f;
  color: white;
  border: none;
  cursor: pointer;
}

.footer-menu {
  background-color: beige;
  padding: 10px;
  margin-top: 30px;
  bottom: 0;
  text-align:center;
}

.footer-menu a {
  color: #0096FF;
  text-decoration: none;
  font-family: Georgia;
  margin: 0 10px;
}
