body {
  font-family: Arial, sans-serif;
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0px;
  height: 100%;
  display: flex; 
  flex-direction: column; 
}

.top-bar {
  background-color: #3b3a2f;
  color: white;
  text-align: center;
  padding: 3px;
}

.main {
  text-align: center;
  padding: 5px;
  flex: 1;
}

h2 {
  color: coral;
  font-family: "Times New Roman", sans-serif;
}

.main-img {
  width: 40%;
  margin: 20px 0;
 
}

.footer-menu {
  background-color: beige;
  padding: 10px;
  text-align:center;
}

.footer-menu a {
  color: #0096FF;
  text-decoration: none;
  font-family: Georgia;
  margin: 0 10px;
}
